<h2>Callback with Auth Data Hash</h2>
<p>
  If the app loads a route with authorization data in a hash fragment (not a valid selector), the following error is thrown (open the console to see):
</p>

<pre class="text-danger">ERROR DOMException: Failed to execute 'querySelector' on 'Document': '#access_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkZha2UgVG9rZW4iLCJpYXQiOjE1MTYyMzkwMjJ9.fg-Dm3WJDDPt3J18KcIipEka0n92sFbIF9N7JqCLnQ_194uScpG7nt9JOEDHE0lqgmNTKf1xr31X5rQPO1HkmGMPzQQ64TLoyr1qs8azzdpJKdm3w4R5qn9Z52zA1deIa1-dBShXrC0ynhXBCXaWaCymRD7n6duyBbuZAmAieaI&expires_in=86400' is not a valid selector.
  at BrowserViewportScroller.push (...)</pre>
